.main-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    height: 50vh;
    width: 50vw;
}
input{
    margin: 4px;
    height: 26px;
    border: 2px solid rgb(57, 87, 59) ;
    padding: 2px;
    width: 40vw;
}